.tarjeta{
    justify-content: center;
    border: 3px solid black;
    width: 50%;
    height: 96%;
    text-align: center;
    background-color:  #bfc0c0;
    align-items: center;
    border-radius: 10px;
    
}
.imagen{
    display: flex;
    width: 180px;
    height: 150px;
    align-items: center;
    margin: 10px;
    border-image: auto;
}
p{
    color: black;
    height: 20px;
    width: 130px;
    align-items: center;
    margin: 40px;
    font-size: 15px;
    font-weight: bold;
}
button{
    text-align: center;
    background-color: black;
    color: white;
    border: 3px;
    margin: 50px;
}