.tarjeta{
    border: 2px solid black;
    width: 50%;
    height: 96%;
    text-align: center;
    background-color:  orangered;
    align-items: center;
    border-radius: 10px;
}
.imagen{
    display: flex;
    width: 180px;
    height: 150px;
    align-items: center;
    margin: 10px;
}
p{
    color: white;
    height: 20px;
    width: 130px;
    align-items: center;
    margin: 40px;
    font-size: 20px;
}