.buscador{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    margin: 4px;
    background-color: orangered;
    font-size: 20px;
}

.input{
    width: 140px;
    height: 20px;
    border: 2px solid black;
    border-radius: 4px;
}
.boton{
    background-color: black;
    color: white;
}